<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2주차 - Vue.js설치 및 프로젝트 생성</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <style>
        #snakebar .modal-cont { position: fixed; left: 0; right: 0; bottom: 50px; width: 300px; height: 50px; margin: 0 auto; font-size: 14px; line-height: 50px; text-align: center; background-color: #bbb; border: 1px solid #000; }

        #popup .modal-body {position: fixed; left: 0; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); }
        #popup .modal-body .modal-cont { position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 500px; height: 150px; margin: auto; padding: 20px; background-color: #fff; border: 1px solid #000; }

        .select-box { width: fit-content; min-width: 160px; height: 40px; margin: 10px 0 40px; border: 1px solid #bbb; border-radius: 20px; box-sizing: border-box; }
        .select-box .label { position: relative; margin: 0; padding: 0 20px; color: #555; font-size: 14px; line-height: 40px; letter-spacing: -0.35px; cursor: pointer; }
        .select-box .select-list { position: relative; z-index: 1; width: 160px; margin-top: -2px; padding: 0; border: 1px solid #bbb; border-radius: 20px; }
        .select-box .select-list li { display: block; height: 40px; padding: 0 20px; color: #555; font-size: 14px; line-height: 40px; list-style: none; letter-spacing: -0.35px; background-color: #fff; transition: all 0.3s; }
        .select-box .select-list li:first-child { border-radius: 20px 20px 0 0; }
        .select-box .select-list li:last-child { border-radius: 0 0 20px 20px; }
        .select-box .select-list li:hover { background-color: #bbb; }
    </style>


    <div id="app">
        <button v-on:click="isVue = !isVue">v-if 확인</button>
        <p v-if="isVue">v-if가 true이면 표시된다.</p>
        <p v-else>v-if가 false이면 표시된다.</p>
    </div>


    <div id="snakebar">
        <button class="modal-btn" v-on:click="snakebarOpen()">Show Snakebar</button>
        <div class="modal-cont" v-if="visible">{{ content }}</div>
    </div>


    <div id="popup">
        <button class="modal-btn" v-on:click="popupOpen()">Show Popup</button>
        <!-- .self를 사용하면 클릭시 하위(modal-cont)에 영향을 미치지 않는다 -->
        <div 
            v-if="visible"
            v-on:click.self="visible = false"
            class="modal-body"
        >
            <div class="modal-cont">{{ content }}</div>
        </div>
    </div>


    <div id="selectBox">
        <ol>
            <li v-for="list in lists">
                <strong class="modal-title">{{ list.title }}</strong>
                <p class="modal-cont">{{ list.cont }}</p>
            </li>
        </ol>

        <div class="select-box">
            <p v-on:click="listOpen()" class="label">{{ storyTitle }}</p>
            <ul v-if="visible" class="select-list">
                <li 
                    v-on:click="listChange()"
                    v-for="list in storyLists"
                >
                    {{ list.list }}
                </li>
            </ul>
        </div>

        <!--
            1. storyLists(배열)의 첫번째 값만 가져오는 방법은? 
            2. <transition>, <vue-slide-up-down> 이런 것들은 vue cli에서 제공하는 기능들??
            3. slideToggle 만들고 싶다.
        -->
    </div>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                isVue: true
            }
        });

        var snakebar = new Vue({
            el: '#snakebar',
            data: {
                content: '이것은 스네이크바 입니다.',
                visible: false
            },
            methods: {
                snakebarOpen: function(){
                    this.visible = !this.visible;
                }
            }
        });

        var popup = new Vue({
            el: '#popup',
            data: {
                content: '이것은 팝업입니다.',
                visible: false,
            },
            methods: {
                popupOpen: function(){
                    this.visible = true
                }
            }
        });

        var selectBox = new Vue({
            el: '#selectBox',
            data: {
                visible: true,
                // 배열 []만 작성하면 오류남 -> lists: 처럼 변수명을 지정해 주어야 하다.
                lists: [
                    {
                        title: 'v-for',
                        cont: 'v-for를 사용해서 li에 배열의 데이터를 바인딩 한다.'
                    },
                    {
                        title: 'v-for',
                        cont: 'v-for="list in lists'
                    }
                ],
                storyTitle : '전체글',
                storyLists: [
                    {
                        list: '- All'
                    },
                    {
                        list: '- Case Study'
                    },
                    {
                        list: '- Trend'
                    },
                    {
                        list: '- Essay'
                    },
                ]
            },
            methods: {
                listOpen: function(){
                    this.visible = !this.visible
                },
                listChange: function(){
                    this.storyTitle = "어떻게 하면 storyLists 배열의 값을 가져올 수 있지??"
                }
            }
        });
    </script>
</body>
</html>